
.main-content-container {
    display: flex;
    /* Make categories and results appear side by side */
    height: 100%;
    /* Fill the height of the widget */
    width: 100%;
    /* Fill the width of the widget */
}

.categories-container {
    width: 30%;
    /* Categories take 20% width */
    max-height: 100%;
    /* Ensure it spans the full height */
    overflow-y: auto;
    /* Add scrolling for long content */
    background-color: #f9f9f9;
    /* Optional background */
    padding: 10px;
    /* Optional padding */
    box-sizing: border-box;
    padding-bottom: 100px;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    /* Позволяет товарам переноситься на новую строку */
    gap: 20px;
    /* Отступы между товарами */
    align-items: flex-start;
    /* Выравнивание по верхнему краю */
}

.more-link {
    width: 100%;
    /* Занимает всю ширину строки */
    font-size: 14px;
    color: #007bff;
    cursor: pointer;
    text-align: left;
    /* Центрирует текст */
    margin-top: 10px;
    display: block;
    /* Принудительно делает элемент блочным */
}

.more-link:hover {
    text-decoration: underline;
}