.suggestion-row {
    display: flex;
    gap: 10px;
}

.suggestion-word {
    font-size: 13px;
    font-style: italic;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.suggestion-word:hover {
    color: #007bff;
    text-decoration: underline;
}

.widget-suggestions-list {
    position: absolute;
    border-radius: 4px;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.suggestion-item {
    background: #eef7ff;
    padding: 8px 12px;
    cursor: pointer;
    width: 90%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.suggestion-item:hover {
    background: #f0f0f0;
}

.suggestion-item strong {
    font-weight: bold;
}



.product-link.out-of-stock .product-presence {
    color: red;
}


.product-link.out-of-stock {
    position: relative;
}

.product-link.out-of-stock::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
}

.product-old-price {
    color: grey;
    font-size: 13px;

}

.old-price {
    color: grey;
    font-size: 13px;

}

.price-container {
    display: flex;
    /* старая цена слева, новая справа */
    align-items: center;
    /* по вертикали по центру */
    width: 65%;
    gap: 1px;
    /* небольшой отступ между ценами */
}

.old-price {
    /* стиль для старой цены */
    color: grey;
    font-size: 14px;

}

/* а если нужна динамика скрытия/показа —
  .old-price.hidden { display: none; } 
  или inline style через {{oldPriceStyle}} */

.new-price {
    /* новая цена красная, справа */
    color: red;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    flex-shrink: 0;
    /* чтобы не сжималось */
}

.widget-overlay {
    display: none;
    /* по умолчанию скрыт */
    position: fixed;
    /* перекрывает весь экран */
    top: 0;
    /* */
    left: 0;
    /* */
    width: 100vw;
    /* на всю ширину окна */
    height: 100vh;
    /* на всю высоту окна */
    z-index: 9998;
    /* чуть меньше, чем у виджета */

    /* затемнение + размытие (backdrop-filter) */
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);

    /* чтобы клики по оверлею не проходили «сквозь» */
    pointer-events: auto;
}